body {
    font-family: 'Audiowide', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #954EFD;
}


.choices button {
    margin: 20px 0px;
    border-radius: 55px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: #CB86F8;
}

.purpleText, #playerScoreBoard{
    color: #921AFF;
}

.blueText, #computerScoreBoard{
    color: #2742F0;
}

.scoreBoard {
    margin-top: 10px;
}